<?xml version="1.0"?>
<model>
  <name>spacehopper</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Team Jalpari</name>
    <email>melvin@ryugu.sim</email>
  </author>
  <description>
    A 2.0kg CubeSat-scale tri-pedal hopping robot based on the ETH Zurich SpaceHopper.
    Features 3 internal reaction wheels for attitude control and a deployable core sampler drill.
  </description>
</model>
