<?xml version="1.0"?>
<model>
  <name>regolith_plane</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Melvi</name>
    <email>melvi@manipal.edu</email>
  </author>
  <description>
    High-friction regolith testbed plane for Ryugu simulation.
  </description>
</model>
